### 로컬 환경 변수 ###
.env
*.env.local

### 빌드, 종속성 ###
HELP.md
.gradle/
build/
bin/
out/
!gradle/wrapper/gradle-wrapper.jar

### 로그, 임시 파일 ###
*.log
*.temp
*.tmp

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### OS (macOS/Windows) ###
.DS_Store
/**/.DS_Store
Thumbs.db
desktop.ini

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
/out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Docker, 데이터 ###
/data/